.about {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.about-text {   
    font-size: .8em;
    margin: .75em .75em;
    padding-bottom: .5em;
}

.about-text a {
   margin: 0;
   font-size: .8em;
   text-decoration: none;
   color: #7F2212;
}

.about-text a:visited {
   margin: 0;
   font-size: .8em;
   text-decoration: none;
   color: #7F2212;
}

.about-text a:hover {
   margin: 0;
   font-size: .8em;
   text-decoration: none;
   background-color: #818483;
}

.about-image {
    font-size: .8em;
    margin: .75em .75em;
    justify-self: center;
    padding-bottom: 1em;
    width: 85vw;
    height: auto;
    border: 3px solid;
    border-radius: 15px;
}

/*************TABLET PORTRAIT************/
@media screen and (min-width: 600px) {

.about-text {
   font-size: 1em;
   margin: 1.5em 1.5em;
   }
   
.about-text a {
   font-size: 1em;
}

.about-text a:visited {
   font-size: 1em;
}

.about-text a:hover {
   font-size: 1em;
}   
   
   
.about-image {
   width: 65vw;
   }
  
/****************DESKTOP********************/

@media screen and (min-width: 1200px) {
 
 .about-text {
   font-size: 1.3em;
   }

  .about-text a {
   font-size: 1.3em;
}
   
.about-text a:visited {
   font-size: 1.3em;
}

.about-text a:hover {
   font-size: 1.3em;
}
