
.results {
  background: snow;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}   


.results-header {
    font-size: 1em;
    margin: .75em .75em;
    color: #7F2212;
}

.results-text  {   
    font-size: .8em;
    margin: .75em .75em;
    padding-bottom: .5em;
}
   
.result-image {
    font-size: .8em;
    margin: .75em .75em;
    justify-self: center;
    padding-bottom: 1em;
    width: 85vw;
    height: auto;
    border: 3px solid;
    border-radius: 15px;
}

/*************TABLET PORTRAIT************/
@media screen and (min-width: 600px) {

.results-header {
    font-size: 1.3em;
   } 

.results-text {
   font-size: 1em;
   margin: 1.5em 1.5em;
   }

.result-image {
   width: 65vw;
   }
}

/****************DESKTOP********************/

@media screen and (min-width: 1200px) {
 

   .results-text {
   font-size: 1em;
   }
   
   .results-header {
    font-size: 1.6em;
   } 
   }
