.people {
   background: snow;
  display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr;
}

.contributors {
    font-size: 1.2em;
    margin: .75em .75em;
    font-size: 1.0em;
    color: #7F2212;
}

.contributors-list {
    display: block;
    font-size: .8em;
    margin: 0 .75em;
}

.contributors-list-ra {
    display: block;
    font-size: .8em;
    margin: 0 .75em;
}

.contributors-list > li {
  list-style: initial;
}

.institutions {
   background: snow;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr;
   font-size: .8em;
   margin: 0;
   padding: 0 1.5em;
}
